.low-slider {
  max-height: 400px;
  position: relative;
  height: 380px;
  /* border: 1px solid #ddd; */
  display: flex;
  overflow: hidden;
  column-gap: 20px;
  margin-top: 40px;
}

.low-ting-1 {
  min-width: 400px;
  height: 380;
  background-color: aqua;
}

.low-ting-2 {
  min-width: 400px;
  height: 380px;
  background-color: aqua;
}

.low-ting-3 {
  min-width: 400px;
  height: 380px;
  background-color: aqua;
}

.low-ting-4 {
  min-width: 400px;
  height: 380px;
  background-color: aqua;
}

.low-ting-5 {
  min-width: 400px;
  height: 380px;
  background-color: aqua;
}

.low-button {
  position: absolute;
  width: 90px;
  z-index: 10;
  height: 150px;
  top: 3450px;
  background-color: white;
  border-radius: 5px;
  opacity: 0;
  border-color: white;
}

.low-button1 {
  position: absolute;
  width: 90px;
  z-index: 10;
  height: 150px;
  left: 1700px;
  top: 3450px;
  border-radius: 5px;
  border-color: white;
  background-color: white;
  opacity: 0;
}

.low-image {
  width: 60px;
  height: 90px;
  transform: rotate(180deg);
}

.low-image1 {
  width: 60px;
  height: 90px;
}

.low-button1:hover {
  opacity: 0.5;
  cursor: pointer;
}

.low-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
