.Merchandise {
  display: flex;
  position: absolute;
  column-gap: 30px;
  width: 1800px;
  height: 6148px;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 300;
}
#Merch {
  display: flex;
  column-gap: 30px;
  margin-left: 15px;
  margin-top: 10px;
}

.some-opts {
  width: 300px;
  background-color: white;
  height: 4500px;
}

.some-results {
  position: relative;
  display: flex;
  margin-top: 0px;
  width: 1300px;
  height: 4500px;
  background-color: white;
}

.first-fiv {
  margin-top: 40px;
  width: 300px;
  height: 700px;
  background-color: white;
  margin-left: 10px;
  border-radius: 5px;
}
.apple-pen {
  width: 250px;
  height: 250px;
  padding-left: 10px;
}
.brand-name {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.checked {
  border: none;
  background-color: white;
  font-size: 40px;
  color: orange;
}
.rating-div {
  display: flex;
  align-items: center;
}

.review {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(69, 69, 225);
}
.review:hover {
  cursor: pointer;
  color: rgb(228, 37, 37);
}

/* second Product */

.remote {
  margin-top: 40px;
  margin-left: 10px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}
.remote-image {
  width: 250px;
  height: 250px;
  padding-left: 10px;
}

.brand-name-2 {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.brand-name-2:hover {
  color: orange;
  cursor: pointer;
}

/* PRICES STYLE */
.price {
  position: relative;
  background-color: white;
  padding-left: 110px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: -20px;
}
.currency {
  position: absolute;
  top: 3px;
  font-size: 15px;
  left: 80px;
}

.pip {
  position: absolute;
  font-size: 14px;
  left: 198px;
  top: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.discount {
  position: relative;
  width: 60px;

  left: 19px;
  top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  z-index: 10;
  color: red;
}
.strikeThrough {
  position: relative;
  color: gray;
  top: -35px;
  left: 218px;
}

.price2 {
  position: relative;
  background-color: white;
  padding-left: 110px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 10px;
}
/* ship to */
.locationo {
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.work {
  margin-left: 5px;
}

/* more on offers */
.offers {
  display: grid;
  grid-template-columns: 1fr 160px;
  column-gap: 10px;
  margin-top: 10px;
}

.cost {
  margin-left: 5px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}
.quantity {
  font-size: 20px;
  color: rgb(96, 96, 214);
  font-family: Arial, Helvetica, sans-serif;
}
.choices {
  margin-left: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(196, 190, 190);
}

/* Third Product */

.tv {
  margin-top: 40px;
  margin-left: 10px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.anotherVideo {
  margin-top: 40px;
  margin-left: 10px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.touch {
  position: absolute;
  margin-left: 10px;
  top: 750px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}
.coupon {
  position: absolute;
  border: none;
  top: 436px;
  background-color: rgb(72, 207, 72);
  margin-left: 3px;
  width: 90px;
  height: 30px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.store {
  position: absolute;
  margin-left: 10px;
  top: 750px;
  left: 310px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.coupon2 {
  position: absolute;
  border: none;
  top: 458px;
  padding-left: 5px;
  padding-top: 5px;
  background-color: rgb(72, 207, 72);
  margin-left: 3px;
  width: 78px;
  height: 27px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.Roku-4k {
  position: absolute;
  margin-left: 10px;
  top: 750px;
  left: 620px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.Bag {
  position: absolute;
  margin-left: 10px;
  top: 750px;
  left: 930px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.optionBags {
  display: flex;
  margin-left: 5px;
  margin-top: 10px;
  column-gap: 10px;
}

.bagColor {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: gray;
  margin-left: 5px;
}

.bagsImage {
  width: 70px;
  height: 70px;
}
.bagButtons {
  border: none;
  width: 70px;
  height: 70px;
  /* background-color: white; */
}

.samsung {
  position: absolute;
  margin-left: 10px;
  top: 1460px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.ink {
  position: absolute;
  margin-left: 10px;
  left: 310px;
  top: 1460px;
  background-color: white;
  width: 304px;
  height: 700px;
  border-radius: 5px;
}

.sanDisk {
  position: absolute;
  margin-left: 10px;
  left: 625px;
  top: 1460px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.Moniter {
  position: absolute;
  margin-left: 10px;
  left: 935px;
  top: 1460px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.SD-card {
  position: absolute;
  margin-left: 10px;
  /* left: 10px; */
  top: 2170px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.Synth-USB {
  position: absolute;
  margin-left: 10px;
  left: 310px;
  top: 2170px;
  background-color: white;
  width: 308px;
  height: 700px;
  border-radius: 5px;
}

.Usb-image {
  width: 20px;
}
.usb-but {
  border: none;
}

.Steaming {
  position: absolute;
  margin-left: 10px;
  left: 630px;
  top: 2170px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.Headphones {
  position: absolute;
  margin-left: 10px;
  left: 940px;
  top: 2170px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.Ink-2 {
  position: absolute;
  margin-left: 10px;
  top: 2880px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.coupon3 {
  position: absolute;
  border: none;
  top: 519px;
  padding-left: 5px;
  padding-top: 5px;
  background-color: rgb(72, 207, 72);
  margin-left: 3px;
  width: 78px;
  height: 27px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.Mouse {
  position: absolute;
  margin-left: 10px;
  left: 310px;
  top: 2880px;
  background-color: white;
  width: 310px;
  height: 700px;
  border-radius: 5px;
}

.Lapton-1 {
  position: absolute;
  margin-left: 10px;
  left: 630px;
  top: 2880px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.keyboard {
  position: absolute;
  left: 952px;
  top: 2880px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.NewLaptop {
  position: absolute;
  margin-left: 10px;
  top: 3590px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.Webcam {
  position: absolute;
  left: 320px;
  top: 3590px;
  background-color: white;
  width: 310px;
  height: 700px;
  border-radius: 5px;
}

.double-moniter {
  position: absolute;
  left: 640px;
  top: 3590px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.ink-again {
  position: absolute;
  left: 950px;
  top: 3590px;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 5px;
}

.coupon4 {
  position: absolute;
  border: none;
  top: 489px;
  padding-left: 5px;
  padding-top: 5px;
  background-color: rgb(72, 207, 72);
  margin-left: 3px;
  width: 78px;
  height: 27px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
